<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tab3e_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name="com.tab3e_app.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        tools:replace="android:icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.tab3e_app.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tab3e_app.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:configChanges="screenSize|orientation"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.tab3e_app.activity.RegistrationActivity"
            android:label="@string/title_activity_registeration"
            android:configChanges="screenSize|orientation"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.tab3e_app.activity.AskAboutStudent"
            android:label="@string/title_activity_ask_about_student"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.tab3e_app.activity.ResultOfAskAboutStudent"
            android:label="@string/title_activity_result_of_ask_about_student"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="screenSize|orientation"/>
        <activity
            android:name="com.tab3e_app.activity.AbsentDoc"
            android:label="@string/title_activity_absent_doc"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="screenSize|orientation"/>
        <activity
            android:name="com.tab3e_app.activity.InfractionDoc"
            android:label="@string/title_activity_infraction_doc"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name="com.tab3e_app.activity.StudentDetails"
            android:label="@string/title_activity_student_details"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="screenSize|orientation"/>
        <activity
            android:name="com.tab3e_app.activity.AskAboutTable"
            android:label="@string/title_activity_ask_about_table"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="screenSize|orientation"/>
        <activity
            android:name="com.tab3e_app.activity.TableTabs"
            android:label="@string/title_activity_table_tabs"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="screenSize|orientation"/>
        <activity
            android:name="com.tab3e_app.activity.ContactWithSchool"
            android:label="@string/title_activity_contact_with_school"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="screenSize|orientation"/>
        <activity
            android:name="com.tab3e_app.activity.AboutTab3e"
            android:label="@string/title_activity_about_tab3e"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="screenSize|orientation"/>
        <activity
            android:name="com.tab3e_app.activity.AbsentRoles"
            android:label="@string/title_activity_absent_roles"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="screenSize|orientation"/>
        <activity
            android:name="com.tab3e_app.activity.InfractionRoles"
            android:label="@string/title_activity_infraction_roles"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="screenSize|orientation"/>
        <activity
            android:name="com.tab3e_app.activity.ForgetPassword"
            android:label="@string/title_activity_forget_password"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="screenSize|orientation"/>




        <!--disable local notification-->
        <!--<service android:name=".notification.Tab3eNotification" />-->
        <!--&lt;!&ndash; Broadcast Receiver to handle changes in Network state &ndash;&gt;-->
        <!--<receiver android:name=".notification.Tab3eNotification$AlarmReceiver" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>-->
                <!--<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
    </application>

</manifest>